{% extends 'base.html' %}
{% block headline %}excellent headline{% endblock headline %}
{% block byline %}By Michael Laris{% endblock byline %}
{% block pubdate %}
  <time datetime="2024-03-07" pubdate>March 7, 2024</time>
{% endblock pubdate %}
{% block styles %}
<link rel="stylesheet" href="{% static 'styles/app.scss' %}">
{% endblock styles %}

{% block scripts %}
{% script 'app' %}
{% endblock scripts %}

{% extends 'base.html' %}
{% block content %}
<p>Hello World</p>
{% endblock content %}

